<form action="answer" data-turbo="false" class="d-flex flex-column justify-content-center align-items-center gap-2">
  <input type="text" name="question" class="form-control w-50">
  <input type="submit" value="Ask!" class="btn btn-primary w-50">
</form>
